.loader {
    width: 48px;
    height: 48px;
    left: 45%;
    top: 20%;
    position: absolute;
    border: 5px solid lightgray;
    border-bottom-color: transparent;
    border-radius: 50%;

    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: none;
}

.loader.is-shown {
    display: inline-block;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}